#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.song-input {
  margin: 1rem;
}

.song-input input {
  padding: 0.5rem;
  font-size: 1rem;
}

.artist-input {
  margin: 1rem;
} 

.artist-input input {
  padding: 0.5rem;
  font-size: 1rem;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  /* rounded corners */
  border-radius: 0.25rem;
  border: 1px solid #4e4e4e;
  outline: none
}

